.contenedor{
        width: 1000px;
        height: 800px;
        background-color: gray;
        margin: 30px auto;
}
.arriba{
        width: 980px;
        height: 80px;
        background-color: yellow;
        margin: 0 auto;
}
.izquierda{
        width: 680px;
        height: 400px;
        background-color: blue;
        float: left;
        margin-left: 10px;
}
.derecha{
        width: 290px;
        height: 500px;
        background-color: red;
        float: right;
        margin-right: 10px;
}
.abajo{
        width: 980px;
        height: 180px;
        background-color: black;
        margin: 0 auto;
        clear: both;
}h1,h3{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
}